In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_csv("pokemon_data.csv")

In [0]:
data

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [0]:
data.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [0]:
data[data['Speed'] <= 43]

       #                 Name  Type 1  ... Speed  Generation  Legendary
9      7             Squirtle   Water  ...    43           1      False
14    11              Metapod     Bug  ...    30           1      False
17    14               Kakuna     Bug  ...    35           1      False
32    27            Sandshrew  Ground  ...    40           1      False
34    29     Nidoran (Female)  Poison  ...    41           1      False
..   ...                  ...     ...  ...   ...         ...        ...
774  704                Goomy  Dragon  ...    40           6      False
778  708             Phantump   Ghost  ...    38           6      False
783  710  PumpkabooSuper Size   Ghost  ...    41           6      False
788  712             Bergmite     Ice  ...    28           6      False
789  713              Avalugg     Ice  ...    28           6      False

[173 rows x 12 columns]

In [0]:
data[data['HP'] == 45]

       #        Name    Type 1   Type 2  ...  Sp. Def  Speed  Generation  Legendary
0      1   Bulbasaur     Grass   Poison  ...       65     45           1      False
13    10    Caterpie       Bug      NaN  ...       20     45           1      False
17    14      Kakuna       Bug   Poison  ...       25     35           1      False
48    43      Oddish     Grass   Poison  ...       65     30           1      False
100   93     Haunter     Ghost   Poison  ...       55     95           1      False
127  118     Goldeen     Water      NaN  ...       50     63           1      False
166  152   Chikorita     Grass      NaN  ...       65     45           2      False
243  225    Delibird       Ice   Flying  ...       45     75           2      False
246  228    Houndour      Dark     Fire  ...       50     65           2      False
257  238    Smoochum       Ice  Psychic  ...       65     65           2      False
258  239      Elekid  Electric      NaN  ...       55     95           2      False
259  240       Magby      Fire      NaN  ...       55     83           2      False
276  255     Torchic      Fire      NaN  ...       50     45           3      False
288  265     Wurmple       Bug      NaN  ...       30     20           3      False
347  318    Carvanha     Water     Dark  ...       20     65           3      False
359  328    Trapinch    Ground      NaN  ...       45     10           3      False
364  333      Swablu    Normal   Flying  ...       75     50           3      False
379  347     Anorith      Rock      Bug  ...       50     75           3      False
406  371       Bagon    Dragon      NaN  ...       30     50           3      False
448  403       Shinx  Electric      NaN  ...       34     45           4      False
467  420     Cherubi     Grass      NaN  ...       53     35           4      False
481  433   Chingling   Psychic      NaN  ...       50     45           4      False
508  458     Mantyke     Water   Flying  ...      120     50           4      False
529  477    Dusknoir     Ghost      NaN  ...      135     45           4      False
554  495       Snivy     Grass      NaN  ...       55     63           5      False
563  504      Patrat    Normal      NaN  ...       39     42           5      False
565  506    Lillipup    Normal      NaN  ...       45     55           5      False
581  522     Blitzle  Electric      NaN  ...       32     76           5      False
600  540    Sewaddle       Bug    Grass  ...       60     42           5      False
608  548     Petilil     Grass      NaN  ...       50     30           5      False
635  574     Gothita   Psychic      NaN  ...       65     45           5      False
638  577     Solosis   Psychic      NaN  ...       50     20           5      False
680  619     Mienfoo  Fighting      NaN  ...       50     65           5      False
685  624    Pawniard      Dark    Steel  ...       40     60           5      False
729  661  Fletchling    Normal   Flying  ...       38     62           6      False
733  665      Spewpa       Bug      NaN  ...       30     29           6      False
748  679     Honedge     Steel    Ghost  ...       37     28           6      False
774  704       Goomy    Dragon      NaN  ...       75     40           6      False

[38 rows x 12 columns]

In [0]:
data[(data['HP'] > 50) & (['Speed'] < 45)]

TypeError: ignored

##Function Mapping and lambda
lambda function is called by its assigned variable as the function doesn't have a name of its own

In [0]:
frame = pd.DataFrame(np.random.randn(4,3), columns = list('bde'),
                    index = ['Utah', 'Columbo', 'Texas', 'Oregon'])
frame

                b         d         e
Utah    -1.702209  0.625280 -0.210434
Columbo  0.466245 -0.732101  0.483309
Texas    0.814156 -0.344530  0.047182
Oregon   0.772124 -1.032586  0.927660

In [0]:
frame.max()       #gives back the max value in each column

b    0.814156
d    0.625280
e    0.927660
dtype: float64

In [0]:
frame.min()

b   -1.702209
d   -1.032586
e   -0.210434
dtype: float64

In [0]:
frame.abs()

                b         d         e
Utah     1.702209  0.625280  0.210434
Columbo  0.466245  0.732101  0.483309
Texas    0.814156  0.344530  0.047182
Oregon   0.772124  1.032586  0.927660

In [0]:
f = lambda x: x.max() - x.min()
frame.apply(f)

b    2.516365
d    1.657866
e    1.138093
dtype: float64

In [0]:
f = lambda x: x ** 2
frame.apply(f)

                b         d         e
Utah     2.897515  0.390975  0.044282
Columbo  0.217384  0.535972  0.233588
Texas    0.662850  0.118701  0.002226
Oregon   0.596175  1.066234  0.860552

##Sorting and Ranking

In [0]:
obj = pd.Series(range(4), index = [1,9,3,7])
obj

1    0
9    1
3    2
7    3
dtype: int64

In [0]:
obj.sort_index(ascending = False)

9    1
7    3
3    2
1    0
dtype: int64

In [0]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
                     index = ['three','one'],
                     columns = ['d','e','a','c'])
frame

       d  e  a  c
three  0  1  2  3
one    4  5  6  7

In [0]:
frame.sort_index()

       d  e  a  c
one    4  5  6  7
three  0  1  2  3

In [0]:
frame = pd.DataFrame(np.arange(8, 0 , -1).reshape((2,4)),
                     index = ['three','one'],
                     columns = ['d','e','a','c'])
frame

       d  e  a  c
three  8  7  6  5
one    4  3  2  1

In [0]:
frame.sort_values(by = 'a')

       d  e  a  c
one    4  3  2  1
three  8  7  6  5

In [0]:
data = pd.read_csv('data.csv')
data

     Student Code  Degree  ... Total (100)  Grade
0    022-14-19987  BS(CS)  ...          70      B
1   022-14-110233  BS(CS)  ...          50      F
2   022-14-110585  BS(CS)  ...          63      C
3    022-14-19718  BS(CS)  ...          46      F
4   022-14-110648  BS(CS)  ...          77      B
5   022-14-110232  BS(CS)  ...          71      B
6   022-14-110588  BS(CS)  ...          74      B
7   022-14-110388  BS(CS)  ...          85      A
8   022-14-110601  BS(CS)  ...          61      C
9   022-14-110599  BS(CS)  ...          84      A
10  022-14-110214  BS(CS)  ...          91      A
11  022-14-110591  BS(CS)  ...          76      B
12  022-15-110994  BS(CS)  ...          73      B
13  022-14-110600  BS(CS)  ...          67      C
14  022-14-110389  BS(CS)  ...          65      C
15   022-14-19916  BS(CS)  ...          18      F
16  022-14-110596  BS(CS)  ...          72      B
17  022-14-110396  BS(CS)  ...          70      B
18  022-14-110223  BS(CS)  ...          60      C
19  022-14-110222  BS(CS)  ...          91      A
20  022-14-110412  BS(CS)  ...          71      B
21  022-14-110593  BS(CS)  ...          60      C
22  022-14-110398  BS(CS)  ...          57      F
23   022-14-19983  BS(CS)  ...          62      C
24  022-14-110215  BS(CS)  ...          77      B
25  022-14-110105  BS(CS)  ...          86      A
26  022-14-110370  BS(CS)  ...          65      C
27  022-14-110452  BS(CS)  ...          71      B
28  022-14-110387  BS(CS)  ...          57      F
29  022-14-110217  BS(CS)  ...          39      F
30  022-14-110401  BS(CS)  ...          72      B
31  022-14-110231  BS(CS)  ...          73      B
32  022-14-110035  BS(CS)  ...          29      F
33   022-14-19919  BS(CS)  ...          51      F
34  022-14-110413  BS(CS)  ...          86      A
35   022-14-19923  BS(CS)  ...          66      C
36  022-14-110582  BS(CS)  ...          70      B
37  022-14-110230  BS(CS)  ...          75      B
38  022-14-110229  BS(CS)  ...          39      F
39  022-14-110107  BS(CS)  ...          68      C
40  022-14-110584  BS(CS)  ...          81      A
41  022-14-110225  BS(CS)  ...          57      F
42  022-14-110587  BS(CS)  ...          67      C
43  022-14-110451  BS(CS)  ...          79      B
44  022-14-110589  BS(CS)  ...          63      C
45  022-14-110400  BS(CS)  ...          80      A
46   022-14-19911  BS(CS)  ...          65      C
47  022-14-110219  BS(CS)  ...          46      F

[48 rows x 14 columns]

In [0]:
data.sort_values(by = 'Best of Quizzes', ascending = False)

     Student Code  Degree  ... Total (100)  Grade
47  022-14-110219  BS(CS)  ...          46      F
7   022-14-110388  BS(CS)  ...          85      A
25  022-14-110105  BS(CS)  ...          86      A
34  022-14-110413  BS(CS)  ...          86      A
36  022-14-110582  BS(CS)  ...          70      B
37  022-14-110230  BS(CS)  ...          75      B
19  022-14-110222  BS(CS)  ...          91      A
8   022-14-110601  BS(CS)  ...          61      C
40  022-14-110584  BS(CS)  ...          81      A
5   022-14-110232  BS(CS)  ...          71      B
43  022-14-110451  BS(CS)  ...          79      B
45  022-14-110400  BS(CS)  ...          80      A
21  022-14-110593  BS(CS)  ...          60      C
35   022-14-19923  BS(CS)  ...          66      C
30  022-14-110401  BS(CS)  ...          72      B
27  022-14-110452  BS(CS)  ...          71      B
46   022-14-19911  BS(CS)  ...          65      C
0    022-14-19987  BS(CS)  ...          70      B
9   022-14-110599  BS(CS)  ...          84      A
10  022-14-110214  BS(CS)  ...          91      A
11  022-14-110591  BS(CS)  ...          76      B
17  022-14-110396  BS(CS)  ...          70      B
13  022-14-110600  BS(CS)  ...          67      C
29  022-14-110217  BS(CS)  ...          39      F
14  022-14-110389  BS(CS)  ...          65      C
12  022-15-110994  BS(CS)  ...          73      B
31  022-14-110231  BS(CS)  ...          73      B
41  022-14-110225  BS(CS)  ...          57      F
4   022-14-110648  BS(CS)  ...          77      B
44  022-14-110589  BS(CS)  ...          63      C
3    022-14-19718  BS(CS)  ...          46      F
22  022-14-110398  BS(CS)  ...          57      F
20  022-14-110412  BS(CS)  ...          71      B
28  022-14-110387  BS(CS)  ...          57      F
6   022-14-110588  BS(CS)  ...          74      B
26  022-14-110370  BS(CS)  ...          65      C
42  022-14-110587  BS(CS)  ...          67      C
38  022-14-110229  BS(CS)  ...          39      F
2   022-14-110585  BS(CS)  ...          63      C
18  022-14-110223  BS(CS)  ...          60      C
24  022-14-110215  BS(CS)  ...          77      B
1   022-14-110233  BS(CS)  ...          50      F
23   022-14-19983  BS(CS)  ...          62      C
16  022-14-110596  BS(CS)  ...          72      B
39  022-14-110107  BS(CS)  ...          68      C
33   022-14-19919  BS(CS)  ...          51      F
32  022-14-110035  BS(CS)  ...          29      F
15   022-14-19916  BS(CS)  ...          18      F

[48 rows x 14 columns]

In [0]:
data.sort_values(by = ['Quiz 1', 'Quiz 2'], ascending = False)

     Student Code  Degree  ... Total (100)  Grade
5   022-14-110232  BS(CS)  ...          71      B
7   022-14-110388  BS(CS)  ...          85      A
19  022-14-110222  BS(CS)  ...          91      A
21  022-14-110593  BS(CS)  ...          60      C
25  022-14-110105  BS(CS)  ...          86      A
34  022-14-110413  BS(CS)  ...          86      A
40  022-14-110584  BS(CS)  ...          81      A
45  022-14-110400  BS(CS)  ...          80      A
36  022-14-110582  BS(CS)  ...          70      B
37  022-14-110230  BS(CS)  ...          75      B
47  022-14-110219  BS(CS)  ...          46      F
8   022-14-110601  BS(CS)  ...          61      C
43  022-14-110451  BS(CS)  ...          79      B
10  022-14-110214  BS(CS)  ...          91      A
9   022-14-110599  BS(CS)  ...          84      A
27  022-14-110452  BS(CS)  ...          71      B
30  022-14-110401  BS(CS)  ...          72      B
11  022-14-110591  BS(CS)  ...          76      B
17  022-14-110396  BS(CS)  ...          70      B
35   022-14-19923  BS(CS)  ...          66      C
46   022-14-19911  BS(CS)  ...          65      C
13  022-14-110600  BS(CS)  ...          67      C
0    022-14-19987  BS(CS)  ...          70      B
4   022-14-110648  BS(CS)  ...          77      B
20  022-14-110412  BS(CS)  ...          71      B
22  022-14-110398  BS(CS)  ...          57      F
41  022-14-110225  BS(CS)  ...          57      F
12  022-15-110994  BS(CS)  ...          73      B
31  022-14-110231  BS(CS)  ...          73      B
44  022-14-110589  BS(CS)  ...          63      C
14  022-14-110389  BS(CS)  ...          65      C
3    022-14-19718  BS(CS)  ...          46      F
29  022-14-110217  BS(CS)  ...          39      F
28  022-14-110387  BS(CS)  ...          57      F
38  022-14-110229  BS(CS)  ...          39      F
26  022-14-110370  BS(CS)  ...          65      C
6   022-14-110588  BS(CS)  ...          74      B
42  022-14-110587  BS(CS)  ...          67      C
16  022-14-110596  BS(CS)  ...          72      B
24  022-14-110215  BS(CS)  ...          77      B
2   022-14-110585  BS(CS)  ...          63      C
18  022-14-110223  BS(CS)  ...          60      C
23   022-14-19983  BS(CS)  ...          62      C
39  022-14-110107  BS(CS)  ...          68      C
33   022-14-19919  BS(CS)  ...          51      F
1   022-14-110233  BS(CS)  ...          50      F
32  022-14-110035  BS(CS)  ...          29      F
15   022-14-19916  BS(CS)  ...          18      F

[48 rows x 14 columns]

In [0]:
data.sort_values(by = ['Best of Quizzes', 'Assignment 1'], ascending = False)

     Student Code  Degree  ... Total (100)  Grade
21  022-14-110593  BS(CS)  ...          60      C
36  022-14-110582  BS(CS)  ...          70      B
37  022-14-110230  BS(CS)  ...          75      B
45  022-14-110400  BS(CS)  ...          80      A
5   022-14-110232  BS(CS)  ...          71      B
7   022-14-110388  BS(CS)  ...          85      A
19  022-14-110222  BS(CS)  ...          91      A
25  022-14-110105  BS(CS)  ...          86      A
34  022-14-110413  BS(CS)  ...          86      A
40  022-14-110584  BS(CS)  ...          81      A
8   022-14-110601  BS(CS)  ...          61      C
43  022-14-110451  BS(CS)  ...          79      B
47  022-14-110219  BS(CS)  ...          46      F
17  022-14-110396  BS(CS)  ...          70      B
30  022-14-110401  BS(CS)  ...          72      B
9   022-14-110599  BS(CS)  ...          84      A
10  022-14-110214  BS(CS)  ...          91      A
13  022-14-110600  BS(CS)  ...          67      C
27  022-14-110452  BS(CS)  ...          71      B
46   022-14-19911  BS(CS)  ...          65      C
0    022-14-19987  BS(CS)  ...          70      B
11  022-14-110591  BS(CS)  ...          76      B
35   022-14-19923  BS(CS)  ...          66      C
31  022-14-110231  BS(CS)  ...          73      B
44  022-14-110589  BS(CS)  ...          63      C
12  022-15-110994  BS(CS)  ...          73      B
41  022-14-110225  BS(CS)  ...          57      F
4   022-14-110648  BS(CS)  ...          77      B
20  022-14-110412  BS(CS)  ...          71      B
22  022-14-110398  BS(CS)  ...          57      F
14  022-14-110389  BS(CS)  ...          65      C
29  022-14-110217  BS(CS)  ...          39      F
3    022-14-19718  BS(CS)  ...          46      F
28  022-14-110387  BS(CS)  ...          57      F
6   022-14-110588  BS(CS)  ...          74      B
42  022-14-110587  BS(CS)  ...          67      C
26  022-14-110370  BS(CS)  ...          65      C
38  022-14-110229  BS(CS)  ...          39      F
24  022-14-110215  BS(CS)  ...          77      B
1   022-14-110233  BS(CS)  ...          50      F
2   022-14-110585  BS(CS)  ...          63      C
18  022-14-110223  BS(CS)  ...          60      C
23   022-14-19983  BS(CS)  ...          62      C
16  022-14-110596  BS(CS)  ...          72      B
39  022-14-110107  BS(CS)  ...          68      C
33   022-14-19919  BS(CS)  ...          51      F
32  022-14-110035  BS(CS)  ...          29      F
15   022-14-19916  BS(CS)  ...          18      F

[48 rows x 14 columns]

In [0]:
pd.options.display.max_rows = 10

In [0]:
obj = pd.Series([-4,2,5,-7,2,1])
obj

0   -4
1    2
2    5
3   -7
4    2
5    1
dtype: int64

In [0]:
obj.sort_values(inplace = True)
obj

3   -7
0   -4
5    1
1    2
4    2
2    5
dtype: int64

In [0]:
obj.rank(method = 'first')

3    1.0
0    2.0
5    3.0
1    4.0
4    5.0
2    6.0
dtype: float64

In [0]:
obj.rank()                #gives mean of duplicate values

3    1.0
0    2.0
5    3.0
1    4.5
4    4.5
2    6.0
dtype: float64

In [0]:
arr = np.array([3,4,5,6,7,8,4])

In [0]:
arr.max()           #value (numpy)

8

In [0]:
arr.argmax()        #index (numpy)

5

In [0]:
arr.min()

3

In [0]:
arr.argmin()

0

In [0]:
data['Mid'].max()              #value (pandas)

30

In [0]:
data['Mid'].idxmax()           #index (pandas)

10

#Dictionary Comprehension

In [0]:
import pandas_datareader.data as web

In [0]:
all_data = { ticker: web.get_data_yahoo(ticker)
           for ticker in ['AAPL','IBM','MSFT','GOOG']}
all_data

{'AAPL':                   High         Low  ...       Volume   Adj Close
 Date                                ...
 2010-01-04   30.642857   30.340000  ...  123432400.0   26.681330
 2010-01-05   30.798571   30.464285  ...  150476200.0   26.727465
 2010-01-06   30.747143   30.107143  ...  138040000.0   26.302330
 2010-01-07   30.285715   29.864286  ...  119282800.0   26.253704
 2010-01-08   30.285715   29.865715  ...  111902700.0   26.428249
 ...                ...         ...  ...          ...         ...
 2019-10-21  240.990005  237.320007  ...   21811800.0  240.509995
 2019-10-22  242.199997  239.619995  ...   20573400.0  239.960007
 2019-10-23  243.240005  241.220001  ...   18957200.0  243.179993
 2019-10-24  244.800003  241.809998  ...   17318800.0  243.580002
 2019-10-25  246.729996  242.880005  ...   18330500.0  246.580002

 [2471 rows x 6 columns],
 'GOOG':                    High          Low  ...      Volume    Adj Close
 Date                                  ...
 2010-01-04   313.579620   310.954468  ...   3927000.0   312.204773
 2010-01-05   312.747742   309.609497  ...   6031900.0   310.829926
 2010-01-06   311.761444   302.047852  ...   7987100.0   302.994293
 2010-01-07   303.861053   295.218445  ...  12876600.0   295.940735
 2010-01-08   300.498657   293.455048  ...   9483900.0   299.885956
 ...                 ...          ...  ...         ...          ...
 2019-10-21  1254.629028  1240.599976  ...   1027200.0  1246.150024
 2019-10-22  1250.599976  1241.380005  ...   1023800.0  1242.800049
 2019-10-23  1259.890015  1242.359985  ...    911500.0  1259.130005
 2019-10-24  1264.000000  1253.714966  ...   1028100.0  1260.989990
 2019-10-25  1269.599976  1250.010010  ...   1210100.0  1265.130005

 [2471 rows x 6 columns],
 'IBM':                   High         Low  ...     Volume   Adj Close
 Date                                ...
 2010-01-04  132.970001  130.850006  ...  6155300.0   98.142967
 2010-01-05  131.850006  130.100006  ...  6841400.0   96.957375
 2010-01-06  131.490005  129.809998  ...  5605300.0   96.327530
 2010-01-07  130.250000  128.910004  ...  5840600.0   95.994110
 2010-01-08  130.919998  129.050003  ...  4197200.0   96.957375
 ...                ...         ...  ...        ...         ...
 2019-10-21  133.100006  130.899994  ...  6306100.0  132.580002
 2019-10-22  134.050003  131.610001  ...  4161600.0  133.960007
 2019-10-23  134.570007  132.699997  ...  3610900.0  134.380005
 2019-10-24  135.070007  133.300003  ...  2598500.0  134.070007
 2019-10-25  135.929993  134.100006  ...  2578000.0  135.440002

 [2471 rows x 6 columns],
 'MSFT':                   High         Low  ...      Volume   Adj Close
 Date                                ...
 2010-01-04   31.100000   30.590000  ...  38409100.0   24.443624
 2010-01-05   31.100000   30.639999  ...  49749600.0   24.451517
 2010-01-06   31.080000   30.520000  ...  58182400.0   24.301458
 2010-01-07   30.700001   30.190001  ...  50559700.0   24.048725
 2010-01-08   30.879999   30.240000  ...  51197400.0   24.214581
 ...                ...         ...  ...         ...         ...
 2019-10-21  138.500000  137.009995  ...  20078200.0  138.429993
 2019-10-22  140.009995  136.259995  ...  27431000.0  136.369995
 2019-10-23  137.449997  135.610001  ...  29844600.0  137.240005
 2019-10-24  140.419998  138.669998  ...  37029300.0  139.940002
 2019-10-25  141.139999  139.199997  ...  25274600.0  140.729996

 [2471 rows x 6 columns]}

In [0]:
price = pd.DataFrame({ticker:data['Adj Close']
                     for ticker, data in all_data.items()})
price

                  AAPL         IBM        MSFT         GOOG
Date
2010-01-04   26.681330   98.142967   24.443624   312.204773
2010-01-05   26.727465   96.957375   24.451517   310.829926
2010-01-06   26.302330   96.327530   24.301458   302.994293
2010-01-07   26.253704   95.994110   24.048725   295.940735
2010-01-08   26.428249   96.957375   24.214581   299.885956
...                ...         ...         ...          ...
2019-10-21  240.509995  132.580002  138.429993  1246.150024
2019-10-22  239.960007  133.960007  136.369995  1242.800049
2019-10-23  243.179993  134.380005  137.240005  1259.130005
2019-10-24  243.580002  134.070007  139.940002  1260.989990
2019-10-25  246.580002  135.440002  140.729996  1265.130005

[2471 rows x 4 columns]

In [0]:
volume = pd.DataFrame({ticker : data['Volume']
                       for ticker, data in all_data.items()})

In [0]:
returns = price.pct_change()
returns

                AAPL       IBM      MSFT      GOOG
Date
2010-01-04       NaN       NaN       NaN       NaN
2010-01-05  0.001729 -0.012080  0.000323 -0.004404
2010-01-06 -0.015906 -0.006496 -0.006137 -0.025209
2010-01-07 -0.001849 -0.003461 -0.010400 -0.023280
2010-01-08  0.006648  0.010035  0.006897  0.013331
...              ...       ...       ...       ...
2019-10-21  0.017343 -0.011261  0.007423  0.000530
2019-10-22 -0.002287  0.010409 -0.014881 -0.002688
2019-10-23  0.013419  0.003135  0.006380  0.013140
2019-10-24  0.001645 -0.002307  0.019674  0.001477
2019-10-25  0.012316  0.010219  0.005645  0.003283

[2471 rows x 4 columns]

In [0]:
returns['MSFT'].corr(returns['IBM'])

0.49063098945954964

In [0]:
returns['MSFT'].cov(returns['IBM'])

8.768699044850248e-05

In [0]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.385471  0.457804  0.464060
IBM   0.385471  1.000000  0.490631  0.405930
MSFT  0.457804  0.490631  1.000000  0.540471
GOOG  0.464060  0.405930  0.540471  1.000000

In [0]:
returns.corrwith(returns.IBM)

AAPL    0.385471
IBM     1.000000
MSFT    0.490631
GOOG    0.405930
dtype: float64

In [0]:
##Unique values

In [0]:
obj = pd.Series(['a','a','b','c','e','a'])
obj.unique()

array(['a', 'b', 'c', 'e'], dtype=object)

In [0]:
obj.count()

6

In [0]:
obj.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool